<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Clearsale>
            <version>1.0.0</version>
        </Mozg_Clearsale>
    </modules>
    <global>
        <models>
            <mozg_clearsale>
                <class>Mozg_Clearsale_Model</class>
                <resourceModel>mozg_clearsale_resource</resourceModel>
            </mozg_clearsale>
            <mozg_clearsale_resource>
                <class>Mozg_Clearsale_Model_Resource</class>
            </mozg_clearsale_resource>
        </models>
        <helpers>
            <mozg_clearsale>
                <class>Mozg_Clearsale_Helper</class>
            </mozg_clearsale>
        </helpers>
        <blocks>
            <mozg_clearsale>
                <class>Mozg_Clearsale_Block</class>
            </mozg_clearsale>
        </blocks>
        <resources>
            <mozg_clearsale_setup>
                <setup>
                    <module>Mozg_Clearsale</module>
                    <class>Mozg_Clearsale_Model_Resource_Setup</class>
                </setup>
            </mozg_clearsale_setup>
        </resources>
        <template>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Clearsale after="Mage_Adminhtml">Mozg_Clearsale_Adminhtml</Mozg_Clearsale>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Clearsale>
                    <files>
                        <default>Mozg_Clearsale.csv</default>
                    </files>
                </Mozg_Clearsale>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mozg_clearsale_prepare_layout_before>
                        <class>mozg_clearsale/observer_adminhtml_coreBlockAbstractPrepareLayoutBefore</class>
                        <method>addMassAction</method>
                    </mozg_clearsale_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <layout>
            <updates>
                <mozg_clearsale>
                    <file>mozg_clearsale.xml</file>
                </mozg_clearsale>
            </updates>
        </layout>
    </adminhtml>    
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_clearsale_html_before>
                        <class>mozg_clearsale/observer_abstractHtml</class>
                        <method>BeforeRenderHtml</method>
                    </mozg_clearsale_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <mozg_clearsale_html_after>
                        <class>mozg_clearsale/observer_abstractHtml</class>
                        <method>AfterRenderHtml</method>
                    </mozg_clearsale_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events> 
        <layout>
            <updates>
                <mozg_clearsale>
                    <file>mozg_clearsale.xml</file>
                </mozg_clearsale>
            </updates>
        </layout>
        <routers>
            <mozg_clearsale>
                <use>standard</use>
                <args>
                    <module>Mozg_Clearsale</module>
                    <frontName>mozg_clearsale</frontName>
                </args>
            </mozg_clearsale>
        </routers>
        <translate>
            <modules>
                <Mozg_Clearsale>
                    <files>
                        <default>Mozg_Clearsale.csv</default>
                    </files>
                </Mozg_Clearsale>
            </modules>
        </translate>
    </frontend>
    <default>
        <mozg_anti_fraud>
            <clearsale_total>
                <active>0</active>
                <action_name>checkout_onepage_index|onepagecheckout_index_index|opc_index_index|onestepcheckout_index_index</action_name>
                <block_name>before_body_end</block_name>
                <demo_mode>Y</demo_mode>
                <entitycode_test>20D83637-18B2-4E67-AF0C-91AF25BA1DA4</entitycode_test>
                <type_ecommerce>B2C</type_ecommerce>
                <serialized></serialized>
            </clearsale_total>
            <clearsale_start>
                <active>0</active>
                <action_name>checkout_onepage_index|onepagecheckout_index_index|opc_index_index|onestepcheckout_index_index</action_name>
                <block_name>before_body_end</block_name>
                <demo_mode>Y</demo_mode>
                <entitycode_test>20D83637-18B2-4E67-AF0C-91AF25BA1DA4</entitycode_test>
                <type_ecommerce>B2C</type_ecommerce>
                <serialized></serialized>
            </clearsale_start>
        </mozg_anti_fraud>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Clearsale/>
            </modules>
        </suite>
    </phpunit>
</config>
